
body{
  background:rgb(170, 127, 170);
}
.container{
  max-width: 400px;
}
input[type=text]{
  color:white;


},
input[type=text]:focus{
  color: rgb(12, 11, 12);
  border: none;
  background: rgba(126, 41, 41, 0.2);
  max-width: 400px;
}
.todos li{
  background: rgb(189, 58, 189);
}
.delete{
  cursor: pointer;
}

.filtered{
display:none !important;
}